/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Conteneur principal */
.container {
    width: 100%;
    max-width: 400px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Header */
header {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px; /* Espace entre l'image et le texte */
}

header h2 {
    font-size: 24px;
    color: #333;
}

/* Formulaire */
form {
    display: flex;
    gap: 10px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

button {
    background: #405c7a;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #0056b3;
}

/* Liste des ingrédients */
section {
    margin-top: 20px;
}

h3 {
    color: #333;
    font-size: 18px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

li {
    background: #f0f0f0;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 5px;
    text-align: center;
    text-align: left;  /* Alignement du texte */
    padding-left: 10px; /* Décalage pour l'alignement */
    width: calc(100% - 20px); /* Ajustement largeur */
    margin-left: 10px; /* Aligner avec le titre */
}

/* Bloc recette */
.recipe-box {
    display: flex;
    align-items: center;
    background: #e7f3ff;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    margin-top: 15px;
}

.recipe-box h3 {
    color: #0056b3;
}

.recipe-box p {
    color: #444;
}

.recipe-box button {
    width: 150px;
    height: 50px;
    margin-left: 15px;
    margin-top: 10px;
}
section h3 {
    text-align: left;
    margin-left: 10px; /* Aligner avec la liste */
}